<%=current_user.pending.count %><p>pending friend request</p>

<% if current_user.requested_friends.any? %>
<% current_user.requested_friends.each do |request| %>
		<%=request.email %>
		<%=link_to "Accept", friendship_path(friend_id: request.id), :method => :put %>
		<%=link_to "Decline", friendships_path(friend_id: request.id, method: :delete) %><br>
	<%end%>
	<%end%>


<%=link_to "profile", edit_user_profile_path(current_user) %> 

user_
<%=link_to "view profile", user_profile_path(current_user)%>

<%=render template: 'posts/new'%>


<%= render 'shared/feed' %>

<%=link_to "users", users_path %>
